<a href="https://colab.research.google.com/github/Ritesh24f1001677/MACHINE_LEARNING/blob/main/OPPE_1_PRACTICE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=5
b=6
price=80
discount_percent=5.75
total_mins=470
output1=a+b
print(f"sum of a and b is {output1}")
output2=2*(a+b)
print(f"Twice the sum of a and b is {output1}")
output3=abs(a-b)
print(f"Absolute difference of a and b is {output3}")
s=a+b
p=a*b
output4=abs(s-p)
print(f"Absolute difference of Sum and Product of a and b is {output4}")
discount_price=price-(price*discount_percent)/100
rounded_discounted_price =int(discount_price)
hrs=total_mins//60
mins=total_mins%60

sum of a and b is 11
Twice the sum of a and b is 11
Absolute difference of a and b is 1
Absolute difference of Sum and Product of a and b is 19

In [ ]:
# Sample inputs (# note: The values given in the prefix code(grey) will be changed by the autograder according to the testcase while running them.
a = 5
b = 6
price, discount_percent = 80, 5.75
total_mins = 470
# <eoi>


output1 = a+b # int: sum of a and b
output2 = ... # int: twice the sum of a and b
output3 = ... # int: absolute difference between a and b
output4 = ... # int: absolute difference between sum and product of a and b

# Find discounted price given price and discount_percent
# input variables : price: int, discount_percent: float
discounted_price = ... # float

# Round the discounted_price
rounded_discounted_price = ... # int

# Find hrs and mins given the total_mins
# input variables : total_mins
hrs = ... # int: hint: think about floor division operator
mins = ... # int

output1 = ... # bool: True if a greater than or equal to 5

output2 = ... # bool: True if a is divisible by 5

output3 = ... # bool: True if a is odd number less than 10

output4 = ... # bool: True if a is an odd number within the range -10 and 10

output5 = ... # bool: True if a has even number of digits but not more than 10 digits

is_offer1_cheaper = ... # bool: True if the offer1 is strictly cheaper

In [ ]:
a=15
price1=100
discount1=20
price2=120
discount2=10
output1=bool(a>5 or a==5)
print(output1)
output2=bool(a%5==0)
print(output2)
output3=bool(a%2!=0 and a<10)
print(output3)
output4=bool(a%2!=0 and -10<a<10)
print(output4)
output5=bool(a%2==0 and (len(str(a))<10 or len(str(a))<10))
print(output5)
is_offer1_cheaper=bool((discount1/price1)*100>(discount2/price2)*100)
print(is_offer1_cheaper)

True
True
False
False
False
True

In [ ]:
# Sample inputs (# note: The values given in the prefix code(grey) will be changed by the autograder according to the testcase while running them.

s = "hello pyhton"
course_code = "24t2cs1002" # 24 - year, t2 - term 2, cs1002 - course id
# <eoi>
output1 = s[2] # str: get the third character of s

output2 = ... # str: get the fourth last character of s

output3 = ... # str: get the first 3 characters of s

output4 = ... # str: get every second character of s

output5 = ... # str: get the last 3 characters of s

output6 = ... # str: get the reverse of s

course_term = ... # int: get the term of the year as number from course_code
course_year = ... # int: get the year as two digit number from course_code

In [ ]:
# Sample inputs (# note: The values given in the prefix code(grey) will be changed by the autograder according to the testcase while running them.
word1 = "Wingardium" # str
word2 = "Leviyosa" # str
word3 = "Silver" # str
sentence = "Learning python is fun"
n1 = 6 # int
n2 = 4 # int
# <eoi>
output1 = word # str: join word1 and word2 with space in between

output2 = ... # str: join first four letters of word1 and last four letters of word 2 with a hyphen "-" in between

output3 = ... # str: join the word3 and n1 with a space in between

output4 = ... # str: just the hypen "-" repeated 50 times

output5 = ... # str: just the hypen "-" repeated n2 times

output6 = ... # str: repeat the number n1, n2 times

are_all_words_equal = ... # bool: True if all three words are equal

is_word1_comes_before_other_two = ... # bool: True if word1 comes before word2 and word3 assume all words are different

has_h = ... # bool: True if word1 has the letter h

ends_with_a = ... # bool: True if word1 ends with letter a or A

has_the_word_python = ... # bool: True if the sentence has the word python

In [ ]:
output1 = word1+' '+word2 # str: join word1 and word2 with space in between
output2 = word1[:4]+'-'+word2[-4:] # str: join first four letters of word1 and last four letters of word 2 with a hyphen "-" in between
output3 = word3+' '+str(n1)   #str: join the word3 and n1 with a space in between
output4 = '-'*50 # str: get every second character of s
output5='-'*n2
output6= str(n1)*n2
are_all_words_equal = bool(word1==word2==word3) # bool: True if all three words are equal
is_word1_comes_before_other_two = word1<(word2 or word3) # bool: True if word1 comes before word2 and word3 assume all words are different
has_h = 'h' in word1 # bool: True if word1 has the letter h
ends_with_a = word1[-1] in 'aA' # bool: True if word1 ends with letter a or A
has_the_word_python = 'python' in sentence

In [ ]:
from datetime import datetime,timedelta
print(datetime(2020,3,4))
# .strftime(is used to format dates as a strings in dd/mm/yyyy)
age=int(input())
dob=inp

2020-03-04 00:00:00

In [ ]:
from datetime import datetime,timedelta
age=int(input())
print(datetime(2020,3,4))

dob=input()
year,day,month=map(int,dob.split('/'))
print(year,day,month)
fifth_birthday_date=datetime(year+5,month,day)
print(fifth_birthday_date)
tenth_month_date=datetime(year,month+10,day)
print(datetime(year,month+10,day))

weight=float(input())
kilograms=int(weight)
grams=int((weight-kilograms)*1000)
weight_readable=f"{kilograms} Kg {grams} grams"
print(weight_readable)

14
2020-03-04 00:00:00
2025/14/01
2025 14 1
2030-01-14 00:00:00
2025-11-14 00:00:00
15.496
15 Kg 496 grams

In [ ]:
x1 = input()
x2 = input()
y1 = input()
y2 = input()
y3 = input()
z = input()

# swap the values of `x1` and `x2`

# do a circular swap of `y1`, `y2` and `y3`  like y1 = y2, y2 = y3, y3 = y1

# create a new variable `a` with the value of `z`

# delete the variable `z`

print(x1)
print(x2)
print(y1)
print(y2)
print(y3)
print(a)

In [ ]:
x1=input()
x2=input()
y1=input()
y2=input()
y3=input()
z=input()
x1,x2=x2,x1
y1,y2,y3=y2,y3,y1
a=z
del z
print(x1)
print(x2)
print(y1)
print(y2)
print(y3)
print(a)
print(z)

Apple
Orange
Car
Bike
Truck
Zed
Orange
Apple
Bike
Truck
Car
Zed

NameError: name 'z' is not defined

In [ ]:
# A single quote ' and a double quote "
output1 = "A single quote \' and a double quote \""
print(output1)

# A forward slash / and a backward slash \
output2 = "A forward slash / and a backward slash \\"
print(output2)

# Three single quotes ''' and three double quotes """
output3 = "Three single quotes \'\'\' and a double quotes \"\""
print(output3)


# Double forward slash // and Double backward slash \\
output4 = "Double forward slash // and Double backward slash \\\\"
print(output4)

A single quote ' and a double quote "
A forward slash / and a backward slash \
Three single quotes ''' and a double quotes ""
Double forward slash // and Double backward slash \\

In [ ]:
# part 1 - If pattern
word = "glow" # str
continuous_tense = True # bool

# part 2
age = 5 # int
is_member = True # bool

# part 3

color_code = "R" # str: valid values are R-red, G-green and B-blue

time = "02 PM" # str, format:[2-digit hour][space][AM or PM]
# Morning (6 AM - 12 PM) (including the start and excluding the end)
# Afternoon (12 PM - 6 PM)
# Evening (6 PM - 12 AM)
# Night (12 AM - 6 AM)

# <eoi>

# part 1 - basic if

new_word = word # donot remove this line

# remove the "ing" suffix from `new_word` if it is there
if ... :
    ...

# add the suffix "ing" to `new_word` if `continuous_tense` is True
# write the whole if else block here

# part 2 - If else pattern

# age_group:str should be "Adult" or "Child" based on the age. assume age greater than or equal to 18 is adult.
if ...:
    ...
else:
    ...

# applicant_type:str should be age goup with the member status like "Adult Member" or "Child Non-member"
# write the whole if else block

# part 3 if ... elif .. else

# based on the value of `color_code` assign the `color` value in lower case and "black" if `color_code` is none of R, B and G

if ...
elif ...:
        ...
elif ...:
    ...
else:
    ...

is_time_valid = ... # bool: True if time is valid (should be ranging from 1 - 12 both including) else False

# time_of_day:str should have the time of the day as Morning, etc.. use "Invalid" if not withing the acceptable range

# write your code here

In [ ]:
# part 1 - If pattern
word = "glowing" # str
continuous_tense = True # bool

# part 2
age = 5 # int
is_member = True # bool

# part 3

color_code = "R" # str: valid values are R-red, G-green and B-blue


# <eoi>

# part 1 - basic if
new_word = word
if 'ing' in word:
  print(new_word[0:4])

if age>=18:
  print('Adult')
else:
  print('Child')
if age==18:
    is_member="True"
    applicant_type="Adult Member"
elif age<18:
    is_member="True"
    applicant_type="Child Member"
else:
    is_member='False'
    applicant_type="Adult Non-member"
if color_code=='R':
    color="red"
elif color_code=='G':
    color='green'
elif color_code=='B':
    color='blue'
else:

    color='black'


time = "15 PM" # str, format:[2-digit hour][space][AM or PM]
# Morning (6 AM - 12 PM) (including the start and excluding the end)
# Afternoon (12 PM - 6 PM)
# Evening (6 PM - 12 AM)
# Night (12 AM - 6 AM)
L=['01','02','03','04','05','06','07','08','09','10','11','12']
if str(time[0:2]) in L:
  is_time_valid=True
else:
  is_time_valid=False
print(is_time_valid)
print(time[-2:])

# time_in_hrs:int should have the time in 24 hrs format . Try to do this in a single expression
if time[-2:]=="AM":
  time_in_hrs=0
else:
  time_in_hrs=12
#time_in_hrs =
print(time_in_hrs)

glow
Child
False
PM
12

In [ ]:
def abs_diff_between_sum_and_sum_of_squares(a:int,b:int)->int:
  return abs((a+b)-(a**2+b**2))
def swap_except_middle_three(s:str)->str:
  m=len(s)/2
  return s[m+2:]+s[m-1:m+2]+s[:m-1]
def interleave_list(list1,list2,list3):

In [ ]:
list1=[1,2,3]
list2=['a','b','c']
list3=[(1,1),(2,2),(3,3)]
lst=[]
for a,b,c in zip(list1,list2,list3):
  lst.extend([a,b,c])
print(lst)

[1, 'a', 2, 'b', 3, 'c']

In [ ]:
lst=[1,2,3]
lst.extend([5,6])
print(lst)

[1, 2, 3, 5, 6]

In [ ]:
names = ['Alice', 'Bob', 'Charlie']
scores = [85, 90, 95]
for name,scored in zip(names,scores):
  print(f"{name} scored {scored}")

Alice scored 85
Bob scored 90
Charlie scored 95

In [ ]:
zipped = [(1, 'a'), (2, 'b'), (3, 'c')]
num,letter =zip(*zipped)
print(list(num))
print(letter)

[1, 2, 3]
('a', 'b', 'c')

In [ ]:
interleaved=[0]*(len(list1)*3)
interleaved[::3]=list1
interleaved[1::3]=list2
interleaved[2::3]=list3
print(interleaved)

[1, 'a', (1, 1), 2, 'b', (2, 2), 3, 'c', (3, 3)]

In [ ]:
def has_more_than_5_unique_digits(num:int)->bool:
  return(len(set(str(num)))>5)
num=12345556256378563845666543

has_more_than_5_unique_digits(num)

True

In [ ]:

num=12345556256378563845666543

print(len(set(str(num)))>5)

True

In [ ]:
pos=(1,2)
velocity=(3,4)
time=5
x1,y1=pos
v1,v2=velocity
print(x1+v1*time,y1+v2*time)

16 22

In [ ]:
d={1:'a',2:'b',3:'c',4:'d'}
l=[3,1,5,2]
for key in list(d.keys()):
  if key not in l:
    del d[key]
print(d)

{1: 'a', 2: 'b', 3: 'c'}

In [ ]:
def is_all_same_word_twice(strings:list)->bool:
  for string in strings:
    words=string.split('-')
    if not(len(words)==2 and words[0]==words[1]):
      return False
  return True



strings=['dog-dog','bread-bread','day-day']
is_all_same_word_twice(strings)

True

In [ ]:
def is_all_same_word_twice(strings:list)->bool:
  for string in strings:
    word=string.split('-')
    if not(len(words)==2 and word[0]==word[1]):
      return False
    return Truem

strings=['dog-dog','bread-bread','day-day']
is_all_same_word_twice(strings)

In [ ]:
#Using Comprehension above code can be written as
 def is_all_same_word_twice(strings:list)->bool:
  searated_words_list=[string.split('-') for string in strings]
  return all(len(word)==2 and word[0]==word[1] for word in separated_word_list)
strings=['dog-dog','bread-bread','day-day']
is_all__same_word_twice(strings)

In [ ]:
#Using Functional Mtehods also
def is_all_same_word_twice(strings:list)->bool:
  separated_word_list=map(lambda x: x.split('-'),strings)
  return all(map(lanmbda x:len(x)==2 and x[0] and x[0]==x[1],separated_words_list)

In [ ]:
def most_occuring_first_letter(passage:str)->str:
  first_letter_count={}
  for word in passage.lower().split():
    first_letter=word[0]
    if first_letter not in first_letter_count:
      first_letter_count[first_letter]=0
    first_letter_count[first_letter]+=1
  return max(first_letter_count,key=first_letter_count.get)



passage = '''
word1 Word2 word3 word4 text1 text2
text3 Text4 word5 text5 word6
python1 python2 Python3
'''
most_occuring_first_letter(passage)

'w'

In [ ]:


passage = '''
word1 Word2 word3 word4 text1 text2
text3 Text4 word5 text5 word6
python1 python2 Python3
'''
word=passage.split()
print(word)

['word1', 'Word2', 'word3', 'word4', 'text1', 'text2', 'text3', 'Text4', 'word5', 'text5', 'word6', 'python1', 'python2', 'Python3']

In [ ]:
def run_length_encoding(num:str)->str:
  encoding=[]
  prev_digit=num[0]
  count=1
  for digit in num[1:]:
    if digit !=prev_digit:
      encoding.extend([count,prev_digit])
      count=0
    count+=1
    prev_digit=digit
  encoding.extend([count,prev_digit])
  return " ".join(map(str,encoding))
while True:
  num=input()
  if not num:
    break
  print(run_length_encoding(num))

444455556666677
4 4 4 5 5 6 2 7

In [ ]:
from string import digits
num=input()
print(num)
print(type(num))
encoding=[]
prev_digit=num[0]
count=1
for digit in num[1:]:
  if digit!=prev_digit:
    encoding.extend([count,prev_digit])
    count=0
  count+=1
  prev_digit=digit
encoding.extend([count,prev_digit])
print(' '.join(map(str,encoding)))

445556666677
445556666677
<class 'str'>
2 4 3 5 5 6 2 7

In [ ]:
encoding=["4","5","6","7","8","9"]
numbers=list(map(int,encoding))
print(numbers)

[4, 5, 6, 7, 8, 9]

In [ ]:
def is_right_triangle_with_even_sides(a:int,b:int,c:int)->bool:
  return a*a+b*b=c*c and a%2==0 and b%2==0
def is_odd_indices_alpha_even_indices_digits(string:str)->bool:
  return string[::2].isdigit() and string[1::2].isalpha()
def swap_even_and_odd_indices(l:list)->None:
  l[::2],l[1::2]=l[1::2],l[::2]
def unique_chars_present_in_first_not_in_second(s1:str,s2:str)->set:
  return set(s1)-set(s2)
def repeat(t:tuple)->tuple:
  return (t[0],)*t[1]+(t[1],)*t[0]

In [ ]:
t=(2,3)
print((t[0],)*t[1]+(t[1],)*t[0])

(2, 2, 2, 3, 3)

In [ ]:
def row_index_with_most_number_of_zeros(matrix:list)->int:
  if not matrix:
    return -1

  zero_count=0
  max_zero_index=-1
  max_zero_count=-1
  for i,row in enumerate(matrix):
    for value in row:
      if value==0:
        zero_count+=1
        if zero_count>max_zero_count:
          max_zero_count=max_zero_count
          max_zero_index=i
  return max_zero_index



matrix=[[1,0,1,4,1],[1,5,1,1,2],[2,0,2,0,3],[3,0,0,0,4]]
row_index_with_most_number_of_zeros(matrix)

3

In [ ]:
def top_k_teams(batsmen:list,k:int)->list:
  team_runs={}
  for batsman in batsmen:
    if batsman["teams"] not in team_runs:
      team_runs[batsma["teams"]]=0
    team_runs[batsman["teams"]]+=batsman["runs"]
  return sorted(team_runs,key=team_runs.get,reverse=True)[:k]

batsmen = [
    {'name': 'Player 1', 'runs': 50, 'team': 'Team A'},
    {'name': 'Player 2', 'runs': 60, 'team': 'Team B'},
    {'name': 'Player 3', 'runs': 40, 'team': 'Team A'},
    {'name': 'Player 4', 'runs': 70, 'team': 'Team C'},
    {'name': 'Player 5', 'runs': 30, 'team': 'Team B'},
    {'name': 'Player 6', 'runs': 80, 'team': 'Team D'},
    {'name': 'Player 7', 'runs': 20, 'team': 'Team C'},
]
top_k_teams(batsmen)

In [ ]:
def find_longest_antakshari(words):
  max_len=1
  prev_word=words[0]
  antakshari_len=-1
  for word in words[-1]:
    if prev_word[-1]==word[0]:
      antakshari_len+=1
    else:
      antakshari_len=1
    if antakshari_len>=max_len:
      max_len=antakshari_len
    prev_word=word
  return max_len
words=input()

n=int(input())
for i in range(n):
  print(find_longest_antakshari(input().split(',')))

In [ ]:
2
150
-10 10 -10 5
20 -20 30 -10
Sample Output

140,150,145
145,175,155
Explanation

Day 1:

Initial balance: 150
Transactions: -10, 10, -10, 5
Calculations:

Balance after -10: 140
Balance after +10: 150
Balance after -10: 140
Balance after +5: 145
Min balance: 140 Max balance: 150 Current Balance: 145

Output for Day 1: 140,150,145

Day 2:

Initial balance (end balance of Day 1): 145
Transactions: 20, -20, 30, -10
Calculations:

Balance after +20: 165
Balance after -20: 145
Balance after +30: 175
Balance after -10: 165
Min balance: 145 Max balance: 175 Current Balance: 165

Output for Day 2: 145,175,165

In [ ]:
def min_max_last_balance(initial_balance,transactions):
  min_balance=max_balance=curr_balance=initial_balance
  for t in transactions:
    curr_balance+=t
    if curr_balance<min_balance:
      min_balance=curr_balance
    if curr_balance>max_balance:
      max_balanec=curr_balance

  return max_balance,min_balance,curr_balance

n=int(input())
initial_balance=int(input())
for i in range(n):
  transactions=map(int,input().split(','))
  max_balance,min_balance,curr_balance=min_max_last_balance(initial_balance,transactions)
  print(f"{max_balance},{min_balance},{initial_balance}")

2
150
-10,10,-10,5
150,140,150
20,-20,30,-10
150,150,150

In [ ]:
def courses_sorted_by_enrollment(student_courses:dict)->list:
  course_count={}
  for courses in student_courses.values():
    for course in courses:
      if course not in course_count:
        course_count[course]=0
      course_count[course]+=1
  return sorted(course_count,key=course_count.get,reverese=True)

In [ ]:
def  get_leaderboard(matches:list)->list:
  team_data={}
  for match in matches:
    teams=match["team1"],match["team2"]
    goals=match["goals1"],match["goals2"]
    for team in teams:

      if team not in team_data:
        team_data[team]={"score":0,"goals":0}

    if goals[0]>goals[1]:
      team_data[teams[0]]["score"]+=2

    elif goals[0]<goals[1]:
      team_data[teams[1]]["score"]+=2


    else:
      team_data[teams[0]]["score"]+=1
      team_data[teams[1]]["score"]+=1

  return sorted([(teams, team_data[team]["score"], team_data[team]["goals"]) for team in team_data], key=lambda x: (x[0],x[1]), reverse =True)

matches = [
    {'team1': 'Brazil', 'team2': 'Argentina', 'goals1': 2, 'goals2': 1},
    {'team1': 'Germany', 'team2': 'Brazil', 'goals1': 0, 'goals2': 3},
    {'team1': 'Argentina', 'team2': 'Germany', 'goals1': 1, 'goals2': 1},
]


get_leaderboard(matches)

[(('Argentina', 'Germany'), 4, 0),
 (('Argentina', 'Germany'), 1, 0),
 (('Argentina', 'Germany'), 1, 0)]

In [ ]:
def best_performers(overs:list)->list:
  bowlers={}
  for over in overs:
    for bowler in over:
      if bowler not in bowlers:
        bowlers[bowler]={"runs":0,"wickets":0,"overs":0}

      for ball in over[bowler]:

        if isinstance(ball,int):
          bowlers[bowler]["runs"]+= ball


        elif ball =="W":

          bowlers[bowler]["wickets"]+=1

        elif ball== "Wd":
          bowlers[bowler]["runs"]+=1

        elif ball[:2]=="Nb":
          bowlers[bowler]["runs"]+= 1 + int(ball[-2])

      bowlers[bowler]["overs"]+=1


  for bow in bowlers:
    return sorted([(bow,bowlers[bow]["wickets"], round((bowlers[bow]["runs"])/(bowlers[bow]["overs"]),2))], key = lambda x:(x[1],x[2]), reverse = True)


overs = [
    {'Ashwin': [1, 1, 0, 'W', 'Wd', 6, 'Nb[4]', 0]},  # Ashwin: 14 runs, 1 wicket
    {'Bumrah': [0, 0, 'W', 1, 0, 0]},                # Bumrah: 1 run, 1 wicket
    {'Ashwin': [4, 0, 'Wd', 1, 1, 2, 0, 0]},         # Ashwin: 9 runs, 0 wickets
    {'Bumrah': [6, 'W', 0, 0, 'Nb[2]', 0]},          # Bumrah: 9 runs, 1 wicket
]

best_performers(overs)

[('Ashwin', 1, 11.5)]

In [ ]:
def best_performers(overs: list) -> list:

    bowlers = { }

    for over in overs:
        for bowler in over:
            if bowler not in bowlers:
                bowlers[bowler] = {'runs': 0, 'wickets': 0, 'overs': 0}

            # Updating wickets and runs.
            for ball in over[bowler]:
                if isinstance(ball, int):
                    bowlers[bowler]['runs'] += ball

                elif ball == 'W':
                    bowlers[bowler]['wickets'] += 1

                elif ball == 'Wd':
                    bowlers[bowler]['runs'] += 1

                elif ball.startswith('Nb'):
                    bowlers[bowler]['runs'] += 1 + int(ball[-2])

            # Updating the overs count.
            bowlers[bowler]['overs'] += 1


    return sorted( [(bow, bowlers[bow]['wickets'], round(bowlers[bow]['runs']/bowlers[bow]['overs'], 2))
                    for bow in bowlers],
                    key = lambda x: (x[1], -x[2]),
                    reverse = True )

overs = [
    {'Ashwin': [1, 1, 0, 'W', 'Wd', 6, 'Nb[4]', 0]},  # Ashwin: 14 runs, 1 wicket
    {'Bumrah': [0, 0, 'W', 1, 0, 0]},                # Bumrah: 1 run, 1 wicket
    {'Ashwin': [4, 0, 'Wd', 1, 1, 2, 0, 0]},         # Ashwin: 9 runs, 0 wickets
    {'Bumrah': [6, 'W', 0, 0, 'Nb[2]', 0]},          # Bumrah: 9 runs, 1 wicket
]

best_performers(overs)

[('Bumrah', 2, 5.0), ('Ashwin', 1, 11.5)]

In [ ]:
def best_performers(overs:list)->list:
  bowlers={}
  for over in overs:
    for bowler in over:
      if bowler not in bowlers:
        bowlers[bowler]={"runs":0,"wickets":0,"overs":0}
      for ball in over[bowler]:
        if isinstance(ball,int):
          bowlers[bowler]["runs"]+=ball
        elif ball=="W":
          bowlers[bowler]["wickets"]+=1
        elif ball=="Wd":
          bowlers[bowler]["runs"]+=1
        elif ball[:2]=="Nb":
          bowlers[bowler]["runs"]+=1+ int(ball[-2])
    bowlers[bowler]["overs"]+=1
  return sorted([(bow,bowlers[bow]["wickets"], round(bowlers[bow]["runs"]/bowlers[bow]["overs"], 2)) for bow in bowlers], key=lambda x: (x[1],-x[2]),reverse = True)
overs = [
    {'Ashwin': [1, 1, 0, 'W', 'Wd', 6, 'Nb[4]', 0]},  # Ashwin: 14 runs, 1 wicket
    {'Bumrah': [0, 0, 'W', 1, 0, 0]},                # Bumrah: 1 run, 1 wicket
    {'Ashwin': [4, 0, 'Wd', 1, 1, 2, 0, 0]},         # Ashwin: 9 runs, 0 wickets
    {'Bumrah': [6, 'W', 0, 0, 'Nb[2]', 0]},          # Bumrah: 9 runs, 1 wicket
]

best_performers(overs)

[('Bumrah', 2, 5.0), ('Ashwin', 1, 11.5)]

In [ ]:
def digit_product(n:int)->int:
  prod=1
  for i in str(abs(n)):
    prod*=int(i)
  return prod

n=int(input())



digit_product(n)

123

6

In [ ]:
def capitalize_first_and_last(sentence:str)->str:
  word=sentence.split()
  word=[word[0][0].upper()+ word[0][1:-1]+ word[0][-1].upper()+' '+ word[1][0].upper()+ word[1][1:-1]+ word[1][-1].upper()  if len(word)>1 else word.upper()]
  return ' '.join(word)




sentence="python programming"
capitalize_first_and_last(sentence)

'PythoN ProgramminG'

In [ ]:
def capitalize_first_and_last(sentence: str) -> str:
    words = sentence.split()
    capitalized_words = []

    for word in words:
        if len(word) > 1:
            capitalized_word = word[0].upper() + word[1:-1] + word[-1].upper()
        else:
            capitalized_word = word.upper()
        capitalized_words.append(capitalized_word)

    return ' '.join(capitalized_words)

# Example usage:
sentence = "python programming language is amazing"
print(capitalize_first_and_last(sentence))

In [ ]:
def capitalize_first_and_last(sentence:str)->str:
  words=sentence.split()
  capitalized_words=[]
  for word in words:
    if len(word)>1:
      capitalize_word=word[0].upper()+word[1:-1]+ word[-1].upper()
    else:
      capitalize_word = word.upper()
    capitalized_words.append(capitalize_word)
  return ' '.join(capitalized_words)

sentence = "python programming"
print(capitalize_first_and_last(sentence))

PythoN ProgramminG

In [ ]:
def capitalize_first_and_last(sentence:str)->str:
  words=sentence.split()
  capitalized_words=[]
  for word in words:
    if len(word)>1:
      capitalize_word=word[0].upper()+word[1:-1]+word[-1].upper()
    else:
      capitalize_word=word.upper()
    capitalized_words.append(capitalize_word)
  return ' '.join(capitalized_words)
sentence="python programming"
capitalize_first_and_last(sentence)

'PythoN ProgramminG'

In [ ]:
def kth_longest_word(words:list,k:int)->str:
  return sorted(words,key=len, reverse=True)[k-1]
k = int(input())
words=['a', 'abc', 'abcd', 'ab']
kth_longest_word(words,k)

3

'ab'

In [ ]:
from types import resolve_bases
def unflatten(t:tuple,m:int,n:int)->tuple:
  result=[]
  for i in range(m):
    row=t[i*n: (i+1)*n]
    result.append(row)
  return tuple(result)

unflatten((1,2,3,4,5,6),2,3)

((1, 2, 3), (4, 5, 6))

In [ ]:
def is_heterogram(sentence:str)->bool:
  lst=[]
  words=sentence.split(" ")
  sep=''.join(words)
  print(sep)
  for i in sep:

    lst.append(i)
  print(lst)
  return len(lst)==len(set(lst))


sentence='Hello World'
is_heterogram(sentence)

HelloWorld
['H', 'e', 'l', 'l', 'o', 'W', 'o', 'r', 'l', 'd']

False

In [ ]:
def filter_keys_by_value(d:dict,thresold:int)->None:
  keys=list(d.keys())
  for key in keys:
    if d[key]<=thresold:
      del d[key]
  return d

d = {1: 10, 2: 20, 3: 5, 4: 30}
filter_keys_by_value(d,15)

{2: 20, 4: 30}

In [ ]:
def is_happy_number(n:int)->bool:
  seen =set()
  while n!=1 and n not in seen:
    seen.add(n)
    for i in str(n):
      n=sum([int(i)**2])
  return n==1
n=int(input())
is_happy_number(n)





def n_happy_numbers(numbers:list)->int:
  count=0
  for x in numbers:
    if is_happy_number(x):
      count+=1
  return count

numbers=[19,4,29,23]
n_happy_numbers(numbers)

19

3

In [ ]:
def is_happy_number(n:int)->bool:
  seen=set()
  while n!=1 and n not in seen:
    seen.add(n)
    for i in str(n):
      n=sum([int(i)**2])
  return n==1
n=int(input())
is_happy_number(n)

def n_happy_numbers(numbers:list)->list:
  count=0
  for x in numbers:
    if is_happy_number(x):
      count+=1
  return count
number=[19,2,4,29,23]
n_happy_numbers(numbers)

19

3

In [ ]:
def second_largest(lst:list)->int:
  lst=sorted(lst,reverse=True)
  return lst[1]
lst=[1, 2, 3, 4, 5]
second_largest(lst)

4

In [ ]:
def arithmetic_operation(t:tuple)->tuple:
  a,b=t
  return (a+b,a-b,a*b,a//b)


t=(1,2)
arithmetic_operation(t)

(3, -1, 2, 0)

In [ ]:
def not_present_in_both(list1:list,list2:list)->list:
  s1=set(list1)
  s2=set(list2)
  return s1.symmetric_difference(s2)

not_present_in_both([1, 2, 3], [3, 4, 5])

{1, 2, 4, 5}

In [ ]:
def modify_string_1(s:str)->str:
  even=s[::2]
  odd=s[1::2][::-1]
  print(odd)
  print(even)
  print(even+odd)
s='abcde'
modify_string_1(s)

db
ace
acedb

In [ ]:
def create_count_dict(lst1:list,lst2:list)->dict:


    return {item:lst2.count(item) for item in lst1}



lst1=['a', 'b', 'c']
lst2=['a', 'b', 'a', 'a', 'c', 'c', 'c']
create_count_dict(lst1,lst2)

{'a': 3, 'b': 1, 'c': 3}

In [ ]:
def average_of_numebers(lst:list)->float:
  nums=[]
  for item in lst:
    if isinstance(item,(int,float)):
      nums.append(item)
  if not nums:
    return -1
  return round(sum(nums)/len(nums),2)

lst=[1, 2.5, 'a', 3, 'b']
average_of_numebers(lst)

2.17

In [ ]:
def average_of_numbers(lst:list)->float:
  nums=[]
  for item in lst:
    if isinstance(item,(int,float)):
      nums.append(item)
    if not nums:
      return -1
  return round(sum(nums)/len(nums),2)

lst=[1,2.5,'a',3,'b']
average_of_numbers(lst)

2.17

In [ ]:

def most_frequent_element(lst:list):
  d={}
  for item in lst:
    if item in d:
      d[item]+=1
    else:
      d[item]=1
  return(sorted(d.items()))[-1][-0]
lst=[1, 2, 2, 3, 3, 3, 4, 4, 4, 4]
most_frequent_element(lst)

4

In [ ]:
def most_frequent_element(s:str, word_list:list)->bool:
  for i in range(1,len(s)):
    if s[:i] in word_list and s[i:] in word_list:
      return True
  return False

s='helloworld'
word_list= ["hello", "world", "good", "bye"]
most_frequent_element(s, word_list)

True

In [ ]:
def sort_tuples_by_second_then_third(input_list):
  return sorted(input_list,key=lambda x: (x[1],x[2],x[0]))

input_list=[(0,2,0),(1,2,1),(-6,2,1),(0,2,1),(-9,1,0),(5,2,-1)]
sort_tuples_by_second_then_third(input_list)

[(-9, 1, 0), (5, 2, -1), (0, 2, 0), (-6, 2, 1), (0, 2, 1), (1, 2, 1)]

In [ ]:

def rotate_list(lst:list,k:int)->list:
  n=len(lst)
  k = k% n
  return lst[n-k:]+lst[:n-k]

lst=[1, 2, 3, 4, 5]
k =int(input())
rotate_list(lst,k)

1

[5, 1, 2, 3, 4]

In [ ]:
def squares_of_odds(lst:list)->list:
  return [x**2 for x in lst if x % 2!=0]
lst=[1, 2, 3, 4, 5]
squares_of_odds(lst)

[1, 9, 25]

In [ ]:
def squares_of_odds(lst:list)->list:
  l=[]
  for x in lst:
    if x%2!=0:
      l.append(x**2)
  print(l)

lst=[1, 2, 3, 4, 5]
squares_of_odds(lst)

[1, 9, 25]

In [ ]:
def pair_elements(t1:tuple,t2:list)->tuple:
  lst=[]
  for item1,item2 in zip(t1,t2):
    lst.append((item1,item2))
  print(lst)
  print(tuple(lst))
t1=(1, 2, 3)
t2=('a', 'b', 'c')
pair_elements(t1,t2)

[(1, 'a'), (2, 'b'), (3, 'c')]
((1, 'a'), (2, 'b'), (3, 'c'))

In [ ]:
def modify_string_2(t:tuple)->str:
  return ', '.join([str(t[1]),str(t[0])])
t=("hello","python")
modify_string_2(t)

'python, hello'

In [ ]:
def unique_vowels(s:str)->set:
  arg=set()
  for char in s:
    if char.lower() in 'aeiou':
      arg.add(char)
  return arg
s='aeio'
unique_vowels(s)

{'a', 'e', 'i', 'o'}

In [ ]:
def inverted_dictionary(inverted_dict):
  dict1={}
  for key,value in inverted_dict.items():

    dict1[value]=key
  return dict1



inverted_dict={'a': 1, 'b': 2, 'c': 3}
inverted_dictionary(inverted_dict)

{1: 'a', 2: 'b', 3: 'c'}

In [ ]:
 def factorial(n:int):
  if n==0 :
    return 1
  else:
    if n<1:
      f=1
    else:
      f=0
    ans=1
    for i in range(1,abs(n)+1):
      ans*=i
    return -ans if f else ansMB
factorial(-5)

-120

In [ ]:
def sum_squares_abs_diff_squares(a:int,b:int)->tuple:
  return (a**2 + b**2,abs(a**2-b**2))

a= int(input())

b= int(input())
sum_squares_abs_diff_squares(a,b)

5
3

(34, 16)

In [ ]:
def is_odd_length_palindrome(s:str)->bool:

    return s==s[::-1] and len(s)%2!=0

s='pop'
is_odd_length_palindrome(s)

True

In [ ]:
def remove_the_element_at_two_indices(l:list,i1:int,i2:int):
  i1,i2 = sorted([i1,i2],reverse=True)
  del l[i1]
  del l[i2]
  return l

l=[1,2,3,4,5]
i1=2
i2=3
remove_the_element_at_two_indices(l,i1,i2)

[1, 2, 5]

In [ ]:
def sum_of_squares_of_even(nums:list)->list:
  return sum([num**2 for num in num if num%2==0])
  return sum(map(lambda x: x**2, filter(lambda x: x%2==0,nums)))  # Functional

In [ ]:
def sum_of_squares_of_even(nums:list)->int:

  sum=0
  for num in nums:
    if num%2==0:
       sum=sum+(num**2)
  return sum


nums=[1,2,3,4,5]
sum_of_squares_of_even(nums)

20

In [ ]:
def pass_type(s:str)->str:
  vowels='aeiouAEIOU'
  result=''.join(char.upper() if char in vowels else char.lower() for char in s)
  return result

n=int(input())
lines=[input() for _ in range(n)]
for line in lines:
  print(pass_type(line))

2
Hello World
Python Programming
hEllO wOrld
pythOn prOgrAmmIng

In [ ]:
s= input()
word=s.split(' ')

lst=[]

for i in word:
  lst.append(i)
print(lst)
print(' '.join(lst))

Hello World
['Hello', 'World']
Hello World

In [ ]:
def pass_type(s:str):
  vowel='aeiouAEIOU'
  result= ''.join(char.upper() if char in vowel else char.lower() for char in s)
  return result

n=int(input())
lines=[input() for _ in range(n)]
for line in lines:
  print(pass_type(line))

2
Hello World
Python Programming
hEllO wOrld
pythOn prOgrAmmIng

In [ ]:
n=int(input())
lines=[input() for _ in range(n)]
print(lines)
print(tuple(lines))

result=' '.join(lines)
print(result)

2
hello
python pro
['hello', 'python pro']
('hello', 'python pro')
hello python pro

In [ ]:
n=int(input())
lines=[input() for _ in range(n)]
for i in range(len(lines)):
  if i%2!=0 and n%2!=0:
    lines[i]=lines[i][::-1]
if n%2:
  lines[-1]=lines[-1][::-1]

print(lines)
for row in lines:
  print(row)

5
apple
orange
pineapple
mango
kiwi
['apple', 'egnaro', 'pineapple', 'ognam', 'iwik']
apple
egnaro
pineapple
ognam
iwik

In [ ]:
def get_filter(criteria):
  if criteria=='continuous':
    return lambda x: x[-3:].lower()=='ing'
  if criteria=='vowel_rich':
    return lambda x:len([c  for c in x.lower() if c in 'aeiou'])>5
  if criteria=='consonant_rich':
    return lambda x: len([c for c in x.lower() if c.isalpha() and c not in'aeiou'])>5

  if criteria=='sorted':
    return lambda x: "".join(sorted(x.lower()))==x.lower()


def get_words_by_criteria(words,criteria=None):
  filter_func=get_filter(criteria)
  if filter_fun is not None:
    return list(filter_func,words)

In [ ]:
def get_filter(criteria):
  if criteria=="continous":
    return lambda x: x[-3:].lower()=='ing'
  if criteria=="vowel_rich":
    return lambda x: len([c for c in x.lower() if c in 'aeiou'])>5
  if criteria=="consonant_rich":
    return lambda x: len([c for c in x.lower() if c not in 'aeiou'])>5
  if criteria=="sorted":
    return lambda x :"".join(soterd(x.lower())==x.lower())


words = ["running", "aeiobcdioe", "acc", "xyz", "BOTbot", "BboOTt", "jumpiNg", "SPINNING", "alphabetical"]
def get_words_by_criteria(words,criteria=None):
  filter_fun=get_filter(critria)
  if filter_fun not in None:
    return list(filter_fun,words)

In [ ]:
def get_filter(criteria,data):
  if criteria is None:
    return lambda x:True
  if criteria=="fail":
    return lambda x: x<40
  if criteria=="toppers":
    return lambda x: x>=90
  for row in data:
    marks=[row[1]]
    avg=sum(marks)/len(marks)
  if criteria=="above_average":
    return lambda x: x>=avg
  if criteria=="below_average":
    return lambda x: x<average

def get_roll_nos(data:list,criteria=None):
  filter_fun=get_filter(criteria,data)
  if filter_fun is not None:
    return [rollno for rollno,marks in data if filter_fun(marks)]





data = [("101", 85), ("102", 75), ("103", 45), ("104", 95), ("105", 35)]
print(get_roll_nos(data,'above_average'))

['101', '102', '103', '104', '105']

In [ ]:
n=int(input())
for i in range(n-1):
  print(f"{' '*i}\\{' '*(2*(n-i)-3)}/")

print(' '*(n-1)+'v')

5
\       /
 \     /
  \   /
   \ /
    v

In [ ]:

n = int(input())
for i in range(n-1):
    print(f"{' '*i}\\{' '*(2*(n-i)-3)}/")
print(' '*(n-1)+'v')

2
\ /
 v

In [ ]:
n=int(input())
for i in range(n-1):
  print(f"{' '*i}\\{' '*(2*(n-i)-3)}/")
print(' '*(n-1) + 'v')

8
\             /
 \           /
  \         /
   \       /
    \     /
     \   /
      \ /
       v

In [ ]:
n=int(input())
for i in range(n):
  print(f"{' '*(i)}\\{' '*(2*(n-i)-1)}/")
print(' '*(n)+'x')
for i in range(n-1,-1,-1):
  print(f"{' '*(i)}/{' '*(2*(n-i)-1)}\\")

5
\         /
 \       /
  \     /
   \   /
    \ /
     x
    / \
   /   \
  /     \
 /       \
/         \

In [ ]:
def is_positive_odd_or_negative_even(n:int)->bool:
  return ((n%2!=0 and n>0) or (n%2==0 and n<0))
n= int(input())
is_positive_odd_or_negative_even(n)

5

True

In [ ]:
def within_and_has_double_quotes(s:str)->bool:
  return s[0]==s[-1]=='"' and '"' in s[1:-1]
s="abcd\"efgh"
within_and_has_double_quotes(s)

False

In [ ]:
def replace_middle_with_n_times_middle(t:tuple,n:int)->tuple:
  m=len(t)//2
  result= t[:m]+(t[m],)*n+t[m+1:]
  return result

t=(1, 2, 3, 4, 5)
n=int(input())
replace_middle_with_n_times_middle(t,n)

5

(1, 2, 3, 3, 3, 3, 3, 4, 5)

In [ ]:
n=int(input())
for i in range(n):
  a,b=map(int,input().split(','))
  if i%2==0:
    print(a+b)
  else:
    print(abs(a-b))

3
1,2
3
3,4
1
4,5
9

In [ ]:
n=int(input())
for i in range(n):
  result=input().split(',')
  a,b=result[0],result[1]
  if i %2==0:
    print(int(a)+int(b))
  else:
    print(abs(int(a)-int(b)))

3
1,2
3
3,4
1
5,6
11

In [ ]:
#Matrix Walk
def walk_L(M):
  path=[]
  m=len(M)
  for i in range(m):
    path.append(M[i][0])
  for i in range(1,m):
    path.append(M[m-1][i])
  return  path

M = [[1, 2, 3],[4, 5, 6],[7, 8, 9]]
walk_L(M)

[1, 4, 7, 8, 9]

In [ ]:
from re import M
def walk_Z(M):
  path=[]
  m=len(M)
  for i in range(m):
    path.append(M[0][i])
  for i in range(1,m):
    path.append(M[i][m-i-1])
  for i in range(m):
    path.append(M[m-1][i])
  return path
M = [[1, 2, 3],[4, 5, 6],[7, 8, 9]]
walk_M(M)

[1, 2, 3, 5, 7, 8, 9]

In [ ]:
def walk_O(M):
  path=[]
  m=len(M)
  for i in range(m):
    path.append(M[0][i])
  for i in range(0,m,2):
    path.append(M[1][i])
  for i in range(m):
    path.append(M[2][i])
  print(path)
M = [[1, 2, 3],[4, 5, 6],[7, 8, 9]]
walk_O(M)

[1, 2, 3, 4, 6, 7, 8, 9]

In [ ]:
def walk_O(M):
  path=[]
  m=len(M)
  for i in range(m):
    path.append(M[0][i])
  for i in range(1,m):
    path.append(M[i][m-1])
  for i in range(m-2,-1,-1):
    path.append(M[m-1][i])
  for i in range(m-2,0,-1):
    path.append(M[i][0])
  print(path)
M = [[1, 2, 3],[4, 5, 6],[7, 8, 9]]
walk_O(M)

[1, 2, 3, 6, 9, 8, 7, 4]

In [ ]:
M = [[1, 2, 3],[4, 5, 6],[7, 8, 9]]
path=[]
m=len(M)
for i in range(m-2,0,-1):

  path.append(M[i][0])
print(path)

1
[4]

In [6]:
#Matrix Walk
def walk_L(M):
  path=[]
  m=len(M)
  for i in range(m):
    path.append(M[i][0])
  for i in range(1,m):
    path.append(M[m-1][i])
  return  path

def walk_Z(M):
  path=[]
  m=len(M)
  for i in range(m):
    path.append(M[0][i])
  for i in range(1,m):
    path.append(M[i][m-i-1])
  for i in range(1,m):
    path.append(M[m-1][i])
  return path

def walk_O(M):
  path=[]
  m=len(M)
  for i in range(m):
    path.append(M[0][i])
  for i in range(1,m):
    path.append(M[i][m-1])
  for i in range(m-2,-1,-1):
    path.append(M[m-1][i])
  for i in range(m-2,0,-1):
    path.append(M[i][0])
  print(path)




def walk_matrix(M,shape):
  if shape=='L':
    return walk_L(M)
  elif shape=='Z':
    return walk_Z(M)
  elif shape=='O':
    return walk_O(M)
  else:
    return None

M = [[1, 2, 3],[4, 5, 6],[7, 8, 9]]
print(walk_O(M))

[1, 2, 3, 6, 9, 8, 7, 4]
None

In [ ]:
# We  have to use only and for the while loop
task =input()
if task == "sum_until_0":
  total=0
  n=int(input())
  while n!=0:
    total+=n
    n=int(input())
  print(total)

sum_until_0
10
20
30
40
0
100

In [ ]:
task = input()
# <eoi>

if task == "sum_until_0":
    total = 0
    n = int(input())
    while n != 0: # the terminal condition
        total += n # add n to the total
        n = int(input()) # take the next n form the input
    print(total)

elif task == "total_price":
    total_price = 0
    while True: # repeat forever since we are breaking inside
        line = input()
        if line == "END": # The terminal condition
            break
        quantity, price = line.split() # split uses space by default
        quantity, price = int(quantity), int(price) # convert to ints
        total_price += quantity * price # accumulate the total price
    print(total_price)
elif task == "only_ed_or_ing":

    word = input()
    while word.lower() != "stop":
        if word.lower().endswith("ed") or word.lower()[-3:]=="ing": # both ways of doing it
            print(word)
        word = input()

elif task == "reverse_sum_palindrome":

    num = int(input())
    while num !=-1:
        rev_num = int(str(num)[::-1])
        num_sum = num+rev_num
        if str(num_sum) == str(num_sum)[::-1]:
            print(num)
        num = int(input())

elif task == "double_string":

    line = input()
    while line != "":
        print(line*2)
        line = input()

elif task == "odd_char":


    line = input()
    while line[-1] != ".":
        print(line[::2],end=" ")
        line = input()
    print(line[::2])

elif task == "only_even_squares":


    while True:
        line = input()
        if line == "NAN":
            break
        num = int(line)
        if num % 2 == 0:
            print(num * num)

elif task == "only_odd_lines":

    result  = ""
    line_no = 1
    while True:
        line = input()
        if line == "END":
            break
        if line_no%2:
            result = line + " " + result
        line_no+=1
    print(result)

In [ ]:
task=input()
if task=='factorial':
  n=int(input())
  result=1
  for i in range(1,n+1):
    print(i)
    result*=i
  print(result)

factorial
5
1
2
3
4
5
120

In [ ]:
task=input()
if task=="even_numbers":
  n= int(input())
  for i in range(0,n+1,2):
    print(i)

even_numbers
20
0
2
4
6
8
10
12
14
16
18
20

In [ ]:
task=input()
if task=="power_sequence":
  n=int(input())
  result=1
  for i in range(n):
    print(result)
    result*=2

power_sequence
3
1
2
4

In [ ]:
task=input()
if task=="sum_not_divisible":
  n=int(input())
  total=0
  for i in range(1,n):
    if i%4!=0 and i%5!=0:
      total+=i
  print(total)

sum_not_divisible
20
120

In [ ]:
task=input()
if task=="From_k":
  n=int(input())
  k=int(input())
  count=0
  for i in range(k,0,-1):
    i_str=str(i)
    if "5" not in i_str and "9" not in i_str and  i%2!=0:
      print(i_str[::-1])
      count+=1
      if count==n:
        break

From_k
3
99
78
38
18

In [ ]:
task=input()
if task=="Analtics":
  n=int(input())
  k=int(input())
  count=0
  for i in range(k,100):
    if i %2==0:
      print(i)
      count+=1
      if count==n:
        break

Analtics
8
24
24
26
28
30
32
34
36
38

In [ ]:
task=input()
if task=="string_iter":
  s= input()
  prev=1
  for char in s:
    num=int(char)
    print(num*prev)
    prev=num

string_iter
1234
1
2
6
12

In [ ]:
task=input()
if task=="list_iter":

In [ ]:
lst=eval(input())
print(lst)
for elem in lst:
  print(f"{elem}-type:{type(elem)}")

1,'a',[1,2]
(1, 'a', [1, 2])
1-type:<class 'int'>
a-type:<class 'str'>
[1, 2]-type:<class 'list'>

In [ ]:
task=input()
if task=="permutation":
  s=input()
  for i in range(len(s)):
    for j in range(len(s)):
      if i!=j:
        print(s[i]+s[j])

permutation
rit
ri
rt
ir
it
tr
ti

In [ ]:
task=input()
if task=="permutation":
  s=input()
  for i in range(len(s)):
    for j in range(len(s)):
      if i!=j and s[i]<s[j]:
        print(s[i]+s[j])

permutation
ritesh
rt
rs
ir
it
is
er
ei
et
es
eh
st
hr
hi
ht
hs

In [ ]:
task=input()
if task=="repeat_the_repeat":
  n=int(input())
  for _ in range(n):
    for i in range(1,n+1):
      print(i,end=' ')
    print()

repeat_the_repeat
5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [ ]:
task=input()
if task=="increment":
  n=int(input())
  for i in range(0,n+1):
    for j in range(0,i+1):
      print(j,end='')
    print()

increment
5
0
01
012
0123
01234
012345

In [ ]:
task=input()
if task=="increment":
  n=int(input())
  for i in range(1,n+1):
    for j in range(1,i+1):
      print(j,end='')
    for j in range(i-1,0,-1):
      print(j,end="")
    print()

increment
5
1
121
12321
1234321
123454321

In [ ]:
#applications of loop
task=input()
if task=="factors":
  n=int(input())
  for i in range(1,n+1):
    if n%i==0:
      print(i)

factors
25
1
5
25

In [ ]:
task=input()
if task=="find_min":
  n=int(input())
  minimum=int(input())
  for i in range(n-1):
    current=int(input())
    if current<minimum:
      minimum=current
  print(minimum)

find_min
5
10
20
8
12
15
8

In [ ]:
# @title Default title text
task=input()
if task=="prime_check":
  n=int(input())
  if n<=1:
    print(False)
  else:

    flag=True
    for i in range(1,int(n**0.5)+1):

      if n%i==0:
        flag=False
        print(False)
        break
      if flag:
        print(True)

prime_check
7
False

In [ ]:
task=input()
if task=="prime_check":
  n=int(input())
  if n<=1:
    print(False)

  else:
    flag=True
    for i in range(1,int(n**0.5)+1):
      if n%i==0:
        flag=False
        print(False)
        break
    if flag:
      print(True)

prime_check
89
False

In [ ]:
task=input()
if task=="is_sorted":
  s=input()
  for i in range(len(s)-1):
    if s[i]>s[i+1]:
      print(False)
      break
  else:
    print(True)

is_sorted
abcdef
True

In [ ]:
task=input()
if task=="anytrue":
  n=int(input())
  for _ in range(n):
    num=int(input())
    if num%3==0:

      print(True)
      break
  else:
    print(False)

anytrue
2
44
12
True

In [ ]:
task=input()
if task=="mahattan":
  x,y=0,0
  while True:
    move=input().strip()
    if move=="stop":
      break
    elif move=="up":
      y+=1
    elif move=="down":
      y-=1
    elif move=="left":
      x+=1
    elif move=="right":
      x-=1
  print(abs(x)+abs(y))

mahattan
down
left
right
right
stop
2

In [ ]:
int_iterable=range(1,10,3)
string_iterable=["Apple","Orange","Banana"]
some_value=4
some_collection=[1,2,3]
some_iterable=(1,2,3)
another_iterable={"apple","banana","cherry"}
yet_another_iterable=range(1,10)
empt_list=[]
empty_set=set()
empty_tuple=()
singleton_list=[1]
singleton_set={1}
singleton_tuple=(1,)
a_falsy_list=[]
singleton_set=set()
a_truthy_tuple=(1,2,3)
int_iterable_min=min(int_iterable)
int_iterable_max=max(int_iterbale)
int_iterable_sum=sum(int_iterable)
int_iterable_len=len(int_iterable)
int_iterable_sorted=sorted(int_iterbale)
int_iterable_sorted_desc=sorted(int_iterbale,reverse=True)

if not is_instance(int_iterable,set):
  int_iterabl_reversed=list(reversed(int(int_iterable)))
else:
  int_iterable_reversed=sorted(int_iterable,reverse=True)
if not is_instance(some_collection,set):
  third_last_element=some_collection[-3]
else:
  third_last_element=None
if not is_instance(some_collection,set):
  odd_index_elements=some_collecton[1::2]
else:
  odd_index_elements=None
is_some_value_in_some_collection=some_value in some_collection


if not is_instance(some_collection,set):
  is_some_value_in_even_indices=some_value in some_collection[::2]

else:
  is_some_value_in_even_indices=None

all_iterable=list(some_iterable)+list(another_iterable)+list(yet_another_iterable)


if not isinstance(sring_iterable,set):
  all_concat="-".join(string_iterable)
else:
  all_concat="-".join(sorted(string_iterable))

In [ ]:
def list_mutating_operations(items:list,item1,item2):
  items.sort()
  print("sorted:",items)

  items.append(item1)
  print("append:",item1)

  items.insert(3,item2)
  print("insert:",items)

  items.extend(items[:3])
  print("extend:",items)

  popped_item=items.pop(4)
  print(popped_item)
  print("pop:",items)

  items.remove(item2)
  print("remove",items)

  items[::2]= [None]*len(items[::2])
  print("modify_index",items)

  del items[-3] # delete the last third elements
  print(items)

  del items[::2]
  print("delete_slice",items)

  return items,popped_item

items=["Apple", "Cherry","Banana","Grapes"]
item1=input()
item2=input()
list_mutating_operations(items,item1,item2)

Bleuberry
Guava
sorted: ['Apple', 'Banana', 'Cherry', 'Grapes']
append: Bleuberry
insert: ['Apple', 'Banana', 'Cherry', 'Guava', 'Grapes', 'Bleuberry']
extend: ['Apple', 'Banana', 'Cherry', 'Guava', 'Grapes', 'Bleuberry', 'Apple', 'Banana', 'Cherry']
Grapes
pop: ['Apple', 'Banana', 'Cherry', 'Guava', 'Bleuberry', 'Apple', 'Banana', 'Cherry']
remove ['Apple', 'Banana', 'Cherry', 'Bleuberry', 'Apple', 'Banana', 'Cherry']
modify_index [None, 'Banana', None, 'Bleuberry', None, 'Banana', None]
[None, 'Banana', None, 'Bleuberry', 'Banana', None]
delete_slice ['Banana', 'Bleuberry', None]

(['Banana', 'Bleuberry', None], 'Grapes')

In [ ]:
items=["Apple", "Cherry","Banana","Grapes"]
item1=input()
item2=input()
items.insert(2,item2)
print("insert:",items)

Blueberry
Guava
insert: ['Apple', 'Cherry', 'Guava', 'Banana', 'Grapes']

In [ ]:
items=["Apple", "Cherry","Banana","Grapes"]
item1=input()
item2=input()
items.extend(items[:3])
print("extend",items)

Blueberry
guava
extend ['Apple', 'Cherry', 'Banana', 'Grapes', 'Apple', 'Cherry', 'Banana']

In [ ]:
items=["Apple", "Cherry","Banana","Grapes"]
item1=input()
item2=input()
popped_item=items.pop(3)
print(popped_item)
print("pop:",items)

Blueberry
Guava
Grapes
pop: ['Apple', 'Cherry', 'Banana']

In [ ]:
items=["Apple", "Cherry","Banana","Grapes"]
item1=input()
item2=input()
items.insert(2,item2)
print("insert:",items)
items.remove(item2)
print("remove",items)

Blueberry
Guava
insert: ['Apple', 'Cherry', 'Guava', 'Banana', 'Grapes']
remove ['Apple', 'Cherry', 'Banana', 'Grapes']

In [ ]:
def list_non_mutating_operations(items:list,item1,item2):
  print("sorted:",sorted(items))
  print("append:",items+[item1])
  print("insert",items[:3]+[item2]+items[3:])
  print("extend:",items+items[:3])
  print("pop",items[:4]+items[5:])

  index=items.index(item2)

  print("modify_slice",items[:index]+items[index+1:])


  print("modify_index",items[:3]+[None]+items[4:])
  modified=items[::]
  modified[::2]=[None]*len(modified[::2])
  print(modified)

  print("delete_slice",modified[1::2])

  return items

items=["Apple", "Cherry","Banana","Grapes"]
item1=input()
item2=input()
list_non_mutating_operations(items,item1,item2)

In [ ]:
def do_set_operation(set1,set2,set3,item1,item2):
  set1.add(item1)
  print(sorted(set1))
  set1.discard(item2)
  print(sorted(set1))
  set1.update(set2)
  print(sorted(set1))

#adding the element of set2 in set 1

  set1.difference_update(set3)
  print(sorted(set1))
# element of set3 remove from the set 1


  print(sorted(set2 & set3))


# it  common element of the set2 and set 3

  print(sorted(set1 | set2 | set3))

# it is presenting all the non common element of set1 and set 2 and set 3

  print(sorted(set2-set3))

# it s printing all the element of set2 that is not present in set 3

  print(sorted(set2.symmetric_difference(set3)))
# it is printing all the non common element from set2 and set3


  return set1,sorted(set1),sorted(set2),sorted(set3)

In [ ]:
min=None
def find_min(items:list):
  min=items[0]
  for i in items[1:]:
    if i<min:
      min=i
  return min

items=[1,2,3,4,-4]
find_min(items)

-4

In [ ]:
def odd_increment_even_decrement_no_modify(items):
  lst=[]
  for i in items:
    if i%2!=0:
      lst.append(i+1)
    else:
      lst.append(i-1)
  return lst


items=[1,2,3,4,5,6]
odd_increment_even_decrement_no_modify(items)

[2, 1, 4, 3, 6, 5]

In [ ]:
def odd_square_even_double_modify(items:list)->list:
  for i in range(len(items)):
    if items[i]%2!=0:
      items[i]**=2
    else:
      items[i]*=2
  return items

In [ ]:
def more_than_two_unique_vowels(sentence):
  vowels="aeiou"
  words=set() # i need in set
  for word in sentence.split():
    if len(set(word) & vowels)>2:
      words.add(word)
  return words

In [ ]:
def more_than_two_unique_vowels(sentence):
  words=set()
  vowels=set('aeiou')
  for word in sentence.split(","):
    if len(set(word) & vowels)>2:
      words.add(word)
  return words
sentence=input()
more_than_two_unique_vowels(sentence)

functions,are,not,complicated

{'complicated', 'functions'}

In [ ]:
lst=[[1,2,3,4],[10,20],[5]]
total=0
for row in lst:
  for col in row:
    total+=col
print(total)

45

In [ ]:
def sum_of_list_of_lists(lol):
  total=0
  for row in lol:
    for col in row:
      total+=col
  return total
lol=[[1,2,3,4],[10,20],[5]]
sum_of_list_of_lists(lol)

45

In [ ]:
def flatten(lst):
  temp=[]
  for row in lst:
    for col in row:
      temp.append(col)
  return temp
lst=[[1,2,3,4],[10,20],[5]]
flatten(lst)

[1, 2, 3, 4, 10, 20, 5]

In [ ]:
def all_common(lst):
  emp=set(lst[0]) # first we set the first elem of the list as a reference
  for word in lst[1:]: # Then we go through the each elem of the wordexcept first

    emp=emp&set(word) # then intersection
  return "".join(sorted(emp)) # then we have to sorted in alphabetic order

lst=["abcde","bcdef","cdefg"]
all_common(lst)

'cde'

In [ ]:
def vocabulary(sentences):
  data=set()
  for i in sentences:
    for col in i.split(" "):
      data.add(col.lower())
  return data
sentences=["This is a car","He is playing with a bat","He and she are playing"]
vocabulary(sentences)

{'a', 'and', 'are', 'bat', 'car', 'he', 'is', 'playing', 'she', 'this', 'with'}

In [ ]:
def swap_halves(items):
    ...

def swap_at_index(items,k):
    ...

def rotate_k(items,k=1):
    ...

def first_and_last_index(items,elem):
    ...

def reverse_first_and_last_halves(items):
    ...

In [ ]:
def swap_halves(t):
  m=len(t)//2
  return t[m:]+t[:m]
t=(1,2,3,4,5,6)
swap_halves(t)

(4, 5, 6, 1, 2, 3)

In [ ]:
def swap_at_index(items,k):
  return items[k+1:]+items[:k+1]



items=(1,2,3,4,5,6)
k=int(input())
swap_at_index(items,k)

1

(3, 4, 5, 6, 1, 2)

In [ ]:
def rotate_k(items,k):
  k=k%len(items)
  return items[-k:]+items[:-k]
items=(1,2,3,4,5,6)
k=11
rotate_k(items,k)

(2, 3, 4, 5, 6, 1)

In [ ]:
def first_last_index(items,elem):
  lst=list(items)
  print(lst)
  temp=[]
  for i,num in enumerate(lst):
    if num==elem:
      temp.append(i)
  if len(temp)==1:
    temp.append(temp[0])


  return tuple(temp)

items=(0,2,1,4,8,6)
elem=int(input())
first_last_index(items,elem)

1
[0, 2, 1, 4, 8, 6]

(2, 2)

In [ ]:
def first_last_index(items,elem):

  return items.index(elem),len(items)-1-items[::-1].index(elem)
items=(0,2,1,4,8,6)
elem=int(input())
first_last_index(items,elem)

1

(2, 2)

In [ ]:
def first_last_index(items,elem):
  return items.index(elem), len(items)-1-items[::-1].index(elem)
items=(0,2,1,4,8,6)
elem=int(input())
first_last_index(items,elem)

1

(2, 2)

In [ ]:
def reverse_first_and_last_halves(items):
    m=len(items)//2
    items[:m],items[m:]=items[:m][::-1],items[m:][::-1]
    return items

items=[1,2,3,4,5,6,7,8]
reverse_first_and_last_halves(items)

[4, 3, 2, 1, 8, 7, 6, 5]

In [ ]:
def sum_of_squares(numbers):
  return sum([num**2 for num in numbers])

numbers=[1,2,3,4]
sum_of_squares(numbers)

30

In [ ]:
def sum_of_squares(numbers):
  sum=0
  for num in numbers:
    sum+=num**2
  return sum
numbers=[1,2,3,4]
sum_of_squares(numbers)

30

In [ ]:
def total_cost(cart):
  for i  in cart:
    print(i)



cart=[(1,2),(3,4),(1,5)]
total_cost(cart)

(1, 2)
(3, 4)
(1, 5)

In [ ]:
def total_cost(cart):

    return sum([price*quantity for price,quantity in cart])

cart=[(1,2),(3,4),(1,5)]
total_cost(cart)

19

In [ ]:
def total_cost(cart):
  sum=0
  for price,quantity in cart:
    sum+=price*quantity

  return sum


cart=[(1,2),(3,4),(1,5)]
total_cost(cart)

19

In [ ]:
def abbreviation(sentence):
  return ".".join(i[0].upper() for i in sentence.split(" "))+"."




sentence=input()
abbreviation(sentence)

ordinary wizarding levels

'O.W.L.'

In [ ]:
def palindromes(words):
  temp=[]
  for i in words:
    if i[::]==i[::-1]:
      temp.append(i)
  return temp



words=["moon","noon","dad", "dog", "cat", "madam"]
palindromes(words)

['noon', 'dad', 'madam']

In [ ]:
def palindrome(words):
  return [i for i in words if i[::]==i[::-1]]


words=["moon","noon","dad", "dog", "cat", "madam"]
palindromes(words)

['noon', 'dad', 'madam']

In [ ]:
"List comprehensions are a good start for functional programming"

In [ ]:
def all_chars_from_big_words(sentence):
  data=set()
  for word in sentence.split():
    if len(word)>5:
      for letter in word:
        data.add(letter)
  return data

sentence="List comprehensions are a good start for functional programming"
all_chars_from_big_words(sentence)

{'a',
 'c',
 'e',
 'f',
 'g',
 'h',
 'i',
 'l',
 'm',
 'n',
 'o',
 'p',
 'r',
 's',
 't',
 'u'}

In [ ]:
def all_chars_from_big_words(sentence):
  return {letter.lower() for word in sentence.split() for letter in word if len(word)>5}

In [ ]:
def flatten(lol):
  temp=[]
  for row in lol:
    for elem in row:
      temp.append(elem)
  return temp
lol=[[1,2,3,4],[1,2,3,4],[1,2,3,4]]
flatten(lol)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [ ]:
def flatten(lol):
  return [elem for row in lol for elem in row]
lol=[[1,2,3,4],[1,2,3,4],[1,2,3,4]]
flatten(lol)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [ ]:
def unflatten(items,n_rows):
  n_cols=len(items)//n_rows
  return [[items[n_cols*j+i] for i in range(n_cols)] for j in range(n_rows)]

n_rows=int(input())
items=[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]
unflatten(items,n_rows)

2

[[1, 2, 3, 4, 1, 2], [3, 4, 1, 2, 3, 4]]

In [ ]:
def unflatten(items, n_rows):
  n_cols=len(items)//n_rows
  return [[items[n_cols*j+i] for i in range(n_cols)] for j in range(n_rows)]



n_rows=int(input())
items=[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]
unflatten(items, n_rows)

3

[[1, 2, 3, 4], [1, 2, 3, 4], [1, 2, 3, 4]]

In [ ]:

def unflatten(items,n_rows):
  n_cols=len(items)//n_rows
  result=[]
  for j in range(n_rows):
    row=[]
    for i in range(n_cols):
      index=n_cols*j+i
      row.append(items[index])
    result.append(row)
  return result

n_rows=int(input())
items=[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]
unflatten(items, n_rows)

2

[[1, 2, 3, 4, 1, 2], [3, 4, 1, 2, 3, 4]]

In [ ]:
def unflatten(items,n_rows):
  n_cols=len(items)//n_rows
  result=[]
  for j in range(n_rows):
    row=[]
    for i in range(n_cols):
      row.append(items[n_cols*j+i])
    result.append(row)
  return result

n_rows=int(input())
items=[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]
unflatten(items, n_rows)

2

[[1, 2, 3, 4, 1, 2], [3, 4, 1, 2, 3, 4]]

In [ ]:
def make_identity_matrix(m):
  result=[]
  for i in range(m):
    row=[]
    for j in range(m):
      if i==j:
        row.append(1)
      else:
        row.append(0)
    result.append(row)
  return result

m= int(input())
make_identity_matrix(m)

3

[[1, 0, 0], [0, 1, 0], [0, 0, 1]]

In [ ]:
def make_identity_matrix(m):
  return [[1 if i==j else 0 for j in range(m)] for i in range(m)]


m= int(input())
make_identity_matrix(m)

3

[[1, 0, 0], [0, 1, 0], [0, 0, 1]]

In [ ]:
def make_lower_triangular_matrix(m):
  result=[]
  for j in range(m):
    row=[]
    for i in range(m):
      if i<=j:
        row.append(i+1)
      else:
        row.append(0)
    result.append(row)
  return result
m= int(input())
make_lower_triangular_matrix(m)

3

[[1, 0, 0], [1, 2, 0], [1, 2, 3]]

In [ ]:
def make_lower_triangular_matrix(m):
  return [[i+1 if i<=j else 0 for i in range(m)] for j in range(m)]

m= int(input())
make_lower_triangular_matrix(m)

3

[[1, 0, 0], [1, 2, 0], [1, 2, 3]]

In [ ]:
def dictionary_operations(fruit_prices:dict, fruits:list):
    # add the fruit fruits[0] to fruit_prices with cost 3
    ...
    order_print(fruit_prices) # this function is in the hidden code

    # modify the cost of fruits[1] as 2 in fruit_prices
    ...
    order_print(fruit_prices)

    # increase the cost of fruits[2] by 2 in fruit_prices
    ...
    order_print(fruit_prices)

    # delete both key and value for fruits[3] from fruit_prices
    ...
    order_print(fruit_prices)

    # print the price of fruits[4]

    ...

    # print the names of fruits in fruit prices as a list sorted in ascending order
    ...

    # print the prices of the fruits as a list sorted in ascending order.
    ...

def increase_prices(fruit_prices:dict) -> None:
    '''
    Increase the prices of every fruit by 20 percent and round to two decimal places

    Arguments:
    fruit_prices: dict - fruit name as key and price as value

    Return:
    None - Do not return any thing - modify inplace
    '''
    ...

def dict_from_string(string:str,key_type,value_type):
    '''
    Given a string where each line has a comma seperated key-value pair, create a dictionary out of it. Also convert the types of key and values to the given types.

    Arguments:
    string - str: string to be parsed
    key_type - class: the data type of the keys
    value_type - class: the data type of the values

    Return:
    D - dict: the output dictionary
    '''
    ...

def dict_to_string(D:dict) -> str:
    '''
    Convert the given dictionary back to the string fromat produced by `dict_from_string`. Again, do not use loops or conditionals, use comprehensions.

    '''
    ...

In [ ]:
def dictionary_opreation(fruit_prices:dict,fruits:list):
  fruit_prices[fruits[0]]=3
  ordered=dict(sorted(fruit_prices.items()))
  print(ordered)
fruit_prices={"Orange": 4, "Grapes": 3,"Banana": 2, "Cherry": 5}
fruits=["Apple","Orange","Grapes","Banana","Cherry"]
dictionary_opreation(fruit_prices,fruits)

{'Apple': 3, 'Banana': 2, 'Cherry': 5, 'Grapes': 3, 'Orange': 4}

In [ ]:
def dictionary_operation(fruit_prices:dict,fruits:list):
  fruit_prices[fruits[0]]=3
  ordered=dict(sorted(fruit_prices.items()))
  print(ordered)
fruit_prices={"Orange": 4, "Grapes": 3,"Banana": 2, "Cherry": 5}
fruits=["Apple","Orange","Grapes","Banana","Cherry"]
dictionary_operation(fruit_prices,fruits)

{'Apple': 3, 'Banana': 2, 'Cherry': 5, 'Grapes': 3, 'Orange': 4}

In [ ]:
def dictionary_operation(fruit_prices:dict,fruits:list):
  fruit_prices[fruits[0]]=3
  ordered=dict(sorted(fruit_prices.items(),key=lambda x:x[1]))
  print(ordered)

fruit_prices={"Orange": 4, "Grapes": 3,"Banana": 2, "Cherry": 5}
fruits=["Apple","Orange","Grapes","Banana","Cherry"]
dictionary_operation(fruit_prices,fruits)

{'Banana': 2, 'Grapes': 3, 'Apple': 3, 'Orange': 4, 'Cherry': 5}

In [ ]:
def operation(fruit_prices):
  fruit_prices[fruits[0]]=3
  rev=dict(sorted(fruit_prices.items(),reverse=True))
  print(rev)

fruit_prices={"Orange": 4, "Grapes": 3,"Banana": 2, "Cherry": 5}
opreation(fruit_prices,fruits)

{'Apple': 3, 'Banana': 2, 'Cherry': 5, 'Grapes': 3, 'Orange': 4}

In [ ]:
def operation(fruit_prices:dict,items:list):

  fruit_prices[fruits[0]]=3
  desc=dict(sorted(fruit_prices.items(),key=lambda x:x[1], reverse=True))
  print(desc)

fruit_prices={"Orange": 4, "Grapes": 3,"Banana": 2, "Cherry": 5}
fruits=["Apple","Orange","Grapes","Banana","Cherry"]
operation(fruit_prices,fruits)

{'Cherry': 5, 'Orange': 4, 'Grapes': 3, 'Apple': 3, 'Banana': 2}

In [ ]:
def operation(fruit_prices:dict,items:list):
  fruit_prices[fruits[1]]=4
  ordered=dict(sorted(fruit_prices.items(),key=lambda x:x[1],reverse=True))

  print(ordered)

fruit_prices={"Orange": 4, "Grapes": 3,"Banana": 2, "Cherry": 5}
fruits=["Apple","Orange","Grapes","Banana","Cherry"]
operation(fruit_prices,fruits)

{'Cherry': 5, 'Orange': 4, 'Grapes': 3, 'Banana': 2}

In [ ]:
def operation(fruit_prices:dict,items:list):
  fruit_prices[fruits[2]]+=2
  ord=dict(sorted(fruit_prices.items(),key=lambda x:x[1],reverse=True))
  print(ord)
fruit_prices={"Orange": 4, "Grapes": 3,"Banana": 2, "Cherry": 5}
fruits=["Apple","Orange","Grapes","Banana","Cherry"]
operation(fruit_prices,fruits)

{'Grapes': 5, 'Cherry': 5, 'Orange': 4, 'Banana': 2}

In [ ]:
def operation(fruit_prices:dict,items:list):
  del fruit_prices[fruits[3]]
  ordered=dict(sorted(fruit_prices.items(),key=lambda x:x[1],reverse=True))
  print(ordered)
  print(fruit_prices[fruits[4]])
  print(sorted(fruit_prices.keys()))
  print(sorted(fruit_prices.values()))

fruit_prices={"Orange": 4, "Grapes": 3,"Banana": 2, "Cherry": 5}
fruits=["Apple","Orange","Grapes","Banana","Cherry"]
operation(fruit_prices,fruits)

{'Cherry': 5, 'Orange': 4, 'Grapes': 3}
5
['Cherry', 'Grapes', 'Orange']
[3, 4, 5]

In [ ]:
def operation(fruit_prices:dict,items:list)->None:
  for fruit in fruit_prices:
    fruit_prices[fruit]*=1.2
    fruit_prices[fruit]=round(fruit_prices[fruit],2)
  return fruit_prices

fruit_prices={"Orange": 4, "Grapes": 3,"Banana": 2, "Cherry": 5}
fruits=["Apple","Orange","Grapes","Banana","Cherry"]
operation(fruit_prices,fruits)

{'Orange': 4.8, 'Grapes': 3.6, 'Banana': 2.4, 'Cherry': 6.0}

IMPORTANT QUESTION 1

In [ ]:
def dict_from_string(string:str,key_type,value_type):
  dic={}
  for line in string:

    key,value=line.split(",")
    dic[str(key.strip())]=int(value.strip())
  return dic


n=int(input())
string=(input() for _ in range(n))
result=dict_from_string(string,str,int)
print(result)

5
Apple,2
Banana,3
Guava,4
Oranges,6
Papaya,5
{'Apple': 2, 'Banana': 3, 'Guava': 4, 'Oranges': 6, 'Papaya': 5}

IMPORTANT QUESTION 2

In [ ]:
def dict_from_string(string:str,key_type,value_type):
  dic={}

  for line in string.split("\n"):
    key,value=line.split(",")

    dic[key_type(key.strip())]=int(value_type(value.strip()))
  return dic



string="""Apple,2
Banana,3
Orange,4
Grapes,3
Papaya,5"""
result=dict_from_string(string,str,int)
print(result)

{'Apple': 2, 'Banana': 3, 'Orange': 4, 'Grapes': 3, 'Papaya': 5}

In [ ]:
def dict_to_string(D:dict)->str:
  return "\n".join(str(key)+","+str(value) for key,value in D.items())


D={"Orange": 4, "Grapes": 3,"Banana": 2, "Cherry": 5}
result=dict_to_string(D)
print(result)

Orange,4
Grapes,3
Banana,2
Cherry,5

In [ ]:
def total_price(fruit_prices:dict,purchases)->float:
  total=0
  for fruit,quantity in purchases:
    total+=fruit_prices[fruit]*quantity
# total=price*quantity
# price can be extract from the fruit_prices[fruit]
  return total

fruit_prices={'Apple':2.0,'Banana':3.0,'Orange':4.0,'Grapes':3.0,'Papaya':5.0}
purchases=[("Apple",3),("Orange",5),("Grapes",4)]
total_price(fruit_prices,purchases)

38.0

In [ ]:
def index_of_first_occurance(row:list,elem):
  for i in range(len(row)):
    if row[i]==elem:
      return i


def index_of_last_occurance(row:list,elem):
  rev=row[::-1].index(elem)
  return len(row)-1-rev


def is_valid_coordinate(x:int,y:int,M):
  r,c=len(M),len(M[0])
  return  0<=x<r and 0<=y<c


def valid_adjacent_coordinates(x:int,y:int,M):
  return {(x1,y1) for x1,y1 in {(x-1,y),(x+1,y),(x,y-1),(x,y+1)} if is_valid_coordinate(x1,y1,M)}


def next_coordinate_with_value(curr_coords,value,M,prev_coords=None):
    x,y=curr_coords
    for x1,y1 in valid_adjacent_coordinates(x,y,M)-{prev_coords}:
        if M[x1][y1]==value:
            return x1,y1

def get_path_coordinates(M):

  x_start,x_end=len(M)-1,0
  y_start,y_end=index_of_last_occurance(M[-1],1),index_of_first_occurance(M[0],1)
  path=[]
  prev_coords=None
  curr_coords=x_start,y_start
  while curr_coords!=(x_end,y_end):
    path.append(curr_coords)
    curr_coords,prev_coords=next_coordinate_with_value(curr_coords,1,M,prev_coords),(curr_coords)
  path.append(curr_coords)
  return path


def print_path(M):
    path = get_path_coordinates(M)

    for coordinate in path:
        print(coordinate)


def alternate_path(M):
    path = get_path_coordinates(M)

    for i,(x,y) in enumerate(path,1):
        if i%2==0:
            M[x][y] = 2

def count_path(M):
    path = get_path_coordinates(M)

    for i,(x,y) in enumerate(path,1):
        M[x][y] = i

def mirror_horizontally(M):
    path = get_path_coordinates(M)

    for x,y in path:
        M[x][-y-1] = 1

def mirror_vertically(M):
    path=get_path_coordinates(M)
    for x,y in path:
        M[-x-1][y]=1

In [ ]:
# with loops and conditions
def is_greater_than_5(numbers:list)->list:
  lst=[]
  for num in numbers:
    if num>5:
      lst.append(True)
    else:
      lst.append(False)
  return lst
numbers = [3,4,5,6,7]
is_greater_than_5(numbers)

[False, False, False, True, True]

In [ ]:
#Without loops and conditions
def is_greater_than_5(numbers:list)->list:
  return list(map(lambda x:x>5,numbers))

numbers = [3,4,5,6,7]
is_greater_than_5(numbers)

[False, False, False, True, True]

In [ ]:
def trial(numbers:list)->list:
  return list(map(lambda x:x**2,numbers))

numbers=[2,3,5,6,7]
trial(numbers)

[4, 9, 25, 36, 49]

In [ ]:
def trial(numbers:list)->list:
  return list(filter(lambda x: x<5,numbers))

numbers=[2,3,5,6,7]
trial(numbers)

[2, 3]

In [ ]:
def trial(numbers:list)->list:
  return list(map(lambda x:x<5,filter(lambda x:x<5,numbers)))

numbers=[2,3,5,6,7]
trial(numbers)

[True, True]

In [ ]:
def sum_of_two_digit_numbers(numbers:list):
  F=filter(lambda x:len(str(x))==2,numbers)
  return sum(F)


numbers=[23,3,15,61,777]
sum_of_two_digit_numbers(numbers)

99

In [ ]:
def is_all_has_a(words:list)->bool:
  return all(map(lambda x:"a" in x.lower(),words))

words=["Apple", "Orange", "Banana"]
is_all_has_a(words)

True

In [ ]:
def print_with_numbering(items):
  for i,value in enumerate(items,1):
    print(f"{i}. {value}")

items=["Apple", "Orange", "Banana"]
print_with_numbering(items)

1. Apple
2. Orange
3. Banana

In [ ]:
def parallel_print(countries,capitals):
  for country,capital in zip(countries,capitals):
    print(f"{country}-{capital}")

countries = ["United States", "Brazil", "Nigeria", "India", "Australia"]
capitals = ["Washington, D.C.","Brasilia", "Abuja", "New Delhi", "Canberra"]
parallel_print(countries,capitals)

United States-Washington, D.C.
Brazil-Brasilia
Nigeria-Abuja
India-New Delhi
Australia-Canberra

In [ ]:
def make_dict(keys,values):
  return dict(zip(keys,values))

keys="abcde"
values=[1,2,3,4,5]
make_dict(keys,values)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [ ]:
def indices_of_big(words)->list:
  return list(map(lambda x:x[0],filter(lambda y:len(y[1])>5,enumerate(words))))

words = ["Apple","Banana","Orange","Kiwi","Cherry"]
indices_of_big(words)

[1, 2, 4]

In [ ]:
def decode_rle(chars,repeats):
  return "".join(map(lambda x:x[0]*x[1], zip(chars,repeats)))


chars="abcd"
repeats=[2,4,3,1]
decode_rle(chars,repeats)

'aabbbbcccd'

In [ ]:
def groupby(fruits:list,key:callable):
  groups={}
  for item in fruits:
    group=key(item)
    if group not in groups:
      groups[group]=[]
    groups[group].append(item)
  return groups



fruits=["Apple","Banana","Avocado","Amla","Black berry","Blue berry"]
groupby(fruits,len)

{5: ['Apple'],
 6: ['Banana'],
 7: ['Avocado'],
 4: ['Amla'],
 11: ['Black berry'],
 10: ['Blue berry']}

In [ ]:
def groupby2(data:list,key:callable):
  groups={}
  for item in data:
    group=key(item)
    if group not in  groups:
      groups[group]=[]
    groups[group].append(item)
  return groups

data=["Apple","Banana","Orange","Cherry","Mango"]
groupby2(fruits,lambda x:x[0])

{'A': ['Apple'],
 'B': ['Banana'],
 'O': ['Orange'],
 'C': ['Cherry'],
 'M': ['Mango']}

In [ ]:
def apply_to_groups(groups:dict,func:callable):
  return {group:func(member) for group,member in groups.items()}

groups= {"A":["Apple","Avocado"], "B":["Banana","Black berry","Blue berry"]}
apply_to_groups(groups,len)

{'A': 2, 'B': 3}

In [ ]:
def apply_to_groups(group:dict,func:callable):
  return {group:func(member) for group,member in groups.items()}


groups= {"A":["Apple","Avocado"], "B":["Banana","Black berry","Blue berry"]}
apply_to_groups(groups,'-'.join)

{'A': 'Apple-Avocado', 'B': 'Banana-Black berry-Blue berry'}

In [ ]:

import random

def generate_student_data(n_students, courses, cities, random_seed=42):

    random.seed(random_seed)
    return [
      {
        "rollno": i, "city": random.choice(cities),
        **{course: random.randint(1,100) for course in courses}
      }
      for i in range(1,n_students+1)
    ]
n_students=20
courses=["maths","english","physics","chemistry","3dmodeliing"]
cities=["chennai","patna","delhi","kolkata","mumbai"]
generate_student_data(n_students, courses, cities, random_seed=42)

[{'rollno': 1,
  'city': 'chennai',
  'maths': 4,
  'english': 95,
  'physics': 36,
  'chemistry': 32,
  '3dmodeliing': 29},
 {'rollno': 2,
  'city': 'patna',
  'maths': 95,
  'english': 14,
  'physics': 87,
  'chemistry': 95,
  '3dmodeliing': 70},
 {'rollno': 3,
  'city': 'chennai',
  'maths': 76,
  'english': 55,
  'physics': 5,
  'chemistry': 4,
  '3dmodeliing': 12},
 {'rollno': 4,
  'city': 'patna',
  'maths': 30,
  'english': 65,
  'physics': 78,
  'chemistry': 4,
  '3dmodeliing': 72},
 {'rollno': 5,
  'city': 'patna',
  'maths': 92,
  'english': 84,
  'physics': 90,
  'chemistry': 70,
  '3dmodeliing': 54},
 {'rollno': 6,
  'city': 'patna',
  'maths': 58,
  'english': 76,
  'physics': 36,
  'chemistry': 1,
  '3dmodeliing': 98},
 {'rollno': 7,
  'city': 'patna',
  'maths': 90,
  'english': 55,
  'physics': 44,
  'chemistry': 36,
  '3dmodeliing': 20},
 {'rollno': 8,
  'city': 'patna',
  'maths': 98,
  'english': 44,
  'physics': 14,
  'chemistry': 12,
  '3dmodeliing': 49},
 {'rollno': 9,
  'city': 'chennai',
  'maths': 46,
  'english': 45,
  'physics': 78,
  'chemistry': 34,
  '3dmodeliing': 6},
 {'rollno': 10,
  'city': 'kolkata',
  'maths': 69,
  'english': 16,
  'physics': 49,
  'chemistry': 11,
  '3dmodeliing': 71},
 {'rollno': 11,
  'city': 'delhi',
  'maths': 81,
  'english': 80,
  'physics': 47,
  'chemistry': 74,
  '3dmodeliing': 25},
 {'rollno': 12,
  'city': 'chennai',
  'maths': 6,
  'english': 85,
  'physics': 30,
  'chemistry': 99,
  '3dmodeliing': 38},
 {'rollno': 13,
  'city': 'chennai',
  'maths': 30,
  'english': 13,
  'physics': 49,
  'chemistry': 36,
  '3dmodeliing': 59},
 {'rollno': 14,
  'city': 'delhi',
  'maths': 21,
  'english': 48,
  'physics': 46,
  'chemistry': 27,
  '3dmodeliing': 86},
 {'rollno': 15,
  'city': 'delhi',
  'maths': 90,
  'english': 88,
  'physics': 83,
  'chemistry': 10,
  '3dmodeliing': 78},
 {'rollno': 16,
  'city': 'patna',
  'maths': 69,
  'english': 94,
  'physics': 32,
  'chemistry': 21,
  '3dmodeliing': 60},
 {'rollno': 17,
  'city': 'kolkata',
  'maths': 35,
  'english': 82,
  'physics': 89,
  'chemistry': 72,
  '3dmodeliing': 29},
 {'rollno': 18,
  'city': 'delhi',
  'maths': 99,
  'english': 100,
  'physics': 8,
  'chemistry': 30,
  '3dmodeliing': 5},
 {'rollno': 19,
  'city': 'delhi',
  'maths': 52,
  'english': 35,
  'physics': 9,
  'chemistry': 28,
  '3dmodeliing': 73},
 {'rollno': 20,
  'city': 'delhi',
  'maths': 28,
  'english': 84,
  'physics': 64,
  'chemistry': 51,
  '3dmodeliing': 83}]

In [ ]:
import random
def generate_student_data(n_student,courses,cities,random_seed=42):
  random.seed(random_seed)
  return [{ "rollno":i,"city":random.choice(cities),
           **{course:random.randint(1,100)}}for course in courses]




n_students=20
courses=["maths","english","physics","chemistry","3dmodeliing"]
cities=["chennai","patna","delhi","kolkata","mumbai"]
generate_student_data(n_students, courses, cities, random_seed=42)

OPPE 1 PRACTICE START DATE:11-Feb-2025

In [ ]:
def is_odd_length_palindrome(s: str) -> bool:
   m=len(s)

   if m%2!=0:
    if s[::]==s[::-1]:
      return True
    else:
      return False
   else:
    return False




s="hello"
is_odd_length_palindrome(s)

False

In [ ]:
def remove_elements_at_two_indices(lst:list,i1:int,i2:int):
  lst=[]
  for i,item in enumerate(lst):
    if i!=i1 and i !=i2:
      lst.append(item)
  return lst

lst = [1, 2, 3, 4, 5, 6, 7]
i1=5
i2=1
remove_elements_at_two_indices(l,i1,i2)

[1, 3, 4, 5, 7]

In [ ]:
    if not(0<=i1<len(lst)) or not(0<=i2<len(lst)):
        raise ValueError
    if i1==i2:
        raise ValueError
    if i1>i2:
        lst.pop(i1)
        lst.pop(i2)
    else:
        lst.pop(i2)
        lst.pop(i1)

In [ ]:
def sum_of_squares_of_even(nums: list) -> int:
    '''Return the sum of squares of all even numbers in the list.

    Args:
        nums : list - list of integers

    Returns:
        int - sum of squares of all even numbers
    '''
    sum=0
    for num in nums:
        if num%2==0:
            sum+=num**2
    return sum

In [ ]:
n=int(input())
for _ in range(n):
  string=input()
  vowels="aeiou"
  converted_line=""
  for line in string:
    for char in line:
      if char.lower() in vowels:
        converted_line+=char.upper()
      else:
        converted_line+=char.lower()
  print(converted_line)

2
hello WORLD
hEllO wOrld
python Programming
pythOn prOgrAmmIng

SyntaxError: invalid syntax (<ipython-input-25-2fc574e5c121>, line 9)

In [ ]:
def get_words_by_criteria(words, criteria=None):
    filtered=[]
    if criteria=="continuous":

      for word in words:
        if word[-3:].lower()=="ing":
          filtered.append(word)
    return filtered


words = ['walkING', 'readinG', 'wrong']
criteria=input()
get_words_by_criteria(words, criteria)

continuous

['walkING', 'readinG']

In [ ]:
def get_words_by_criteria(words, criteria=None):
  if criteria == "vowel_rich":

    return [word for word in words if sum(1 for char in word.lower() if char in "aeiou")>5]
words = ['ronoroaZORO','Jogging','entertainment','aeiouUIEIO','beautiful']
criteria=input()
get_words_by_criteria(words, criteria)

vowel_rich

['ronoroaZORO', 'aeiouUIEIO']

In [ ]:
def get_words_by_criteria(words,criteria=None):
  if criteria=="vowel_rich":
    return [word for word in words if sum(1 for char in word.lower() if char in "aeiou")>5]

In [ ]:
def get_words_by_criteria(words,criteria=None):
  if criteria=="vowel_rich":
    filtered=[]
    for word in words:
      count=0
      for char in word:
        if char.lower() in "aeiou":
          count+=1
      if count>5:
        filtered.append(word)
    return filtered

words = ['ronoroaZORO','Jogging','entertainment','aeiouUIEIO','beautiful']
criteria=input()
get_words_by_criteria(words, criteria)

vowel_rich

['ronoroaZORO', 'aeiouUIEIO']

In [ ]:
def get_words_by_criteria(words,criteria=None):
  if criteria=="Consonant_rich":
    filtered=[]
    for word in words:
      count=0
      for char in word:
        if char.lower() not in "aeiou":
          count+=1
      if count>5:
        filtered.append(word)
    return filtered

words = ['StrenGth', 'hello', 'aaccddee','python', 'jumping', 'PsYchOloGy']
criteria=input()
get_words_by_criteria(words,criteria)

Consonant_rich

['StrenGth', 'PsYchOloGy']

In [ ]:
def get_words_by_criteria(words,criteria=None):
  if criteria=="sorted":
    filtered=[]
    for word in words:
      if list(word.lower())==sorted(word.lower()):
        filtered.append(word)

    return filtered

words = ['abc','flying','aBcD','XYZxyz','xXYyZz','rythms']
criteria=input()
get_words_by_criteria(words,criteria)

sorted

['abc', 'aBcD', 'xXYyZz']

In [ ]:
5
apple
orange
pineapple
mango
kiw

In [ ]:
n=int(input())
for i in range(n//2):
  a,b=input(),input()
  print(b[::-1])
  print(a)
if n%2:
  print(input()[::-1])

5
apple
mango
ognam
apple
orange
pineapple
elppaenip
orange
kiiw
wiik

In [ ]:
n=int(input())
lines=[input() for _ in range(n)]
for i in range(len(lines)):
  if i%2!=0 and n%2!=0:
    lines[i]=lines[i][::-1]
if n%2:
  lines[-1]=lines[-1][::-1]

print(lines)
for row in lines:
  print(row)

5
apple
orange
pineapple
mango
kiwi
['apple', 'egnaro', 'pineapple', 'ognam', 'iwik']
apple
egnaro
pineapple
ognam
iwik

In [ ]:
def get_student_details():
  name,age,roll=input(),int(input()),int(input())
get_student_details()

Ritesh
20
2024108051

In [ ]:
def get_student_details_same_line():
  name,age,rollno=input().split()
  age,rollno=int(age),int(rollno)
  return name,age,rollno
get_student_details_same_line()

Ritesh 20 2024108051

('Ritesh', 20, 2024108051)

In [ ]:
def get_comma_separeated():
  numbers=list(map(int,input().split()))
  return numbers


get_comma_separeated()

1 2 3 4 5

[1, 2, 3, 4, 5]

In [ ]:
def get_comma_separated():
  numbers=list(map(int,input().split(",")))
  return numbers


get_comma_separated()

1,2,3,4,5

[1, 2, 3, 4, 5]

In [ ]:
n=int(input())
nums=[float(input()) for i in range(n)]
print(nums)

5
0.0035
0.0086
0.065
0.66
0.33
[0.0035, 0.0086, 0.065, 0.66, 0.33]

In [ ]:
def get_nums_until_end():
  nums=[]
  while True:
    num=input()
    if num.lower()=="end":
      break
    nums.append(num)
  return nums
get_nums_until_end()

1
2
3
end

['1', '2', '3']

In [ ]:
def get_batsman():
  name,no,*runs=input().split()
  no=int(no)
  runs=list(map(int,runs))
  return name,no,runs
get_batsman()

Ritesh 20 98 96 94 89

('Ritesh', 20, [98, 96, 94, 89])

In [ ]:
def get_course_scores():
  n=int(input())
  course_scores=[input().split("-") for i in range(n)]
  course_scores={course:int(score) for course,score in course_scores}
  return course_scores

get_course_scores()

1
maths-98

{'maths': 98}

In [ ]:
def display_float_nums_over_multiple_lines(nums:list):
  print(*[f"{num:.3f}" for num in nums],sep="\n")
nums=[1,2,3,4,5,6]
display_float_nums_over_multiple_lines(nums)

1.000
2.000
3.000
4.000
5.000
6.000

In [ ]:
def display_random_ints(seed:int):
  random.seed(seed)
  i=0
  while True:
    i+=1
    nums=random.randint(0,100)
    if num==0:
      print(num)
      break
    if i%10==0:MB
      print(num)
      continue
    print(num,end=',')

In [ ]:
def display_random_int(seed:int):
  random.seed(seed)
  i=0
  while True:
    i+=1
    num=random.randint(0,100)
    if num=0:
      print(num)
      break
    if i%10==0:
      print(num)
      continue
    print(num,end='')

In [ ]:
def display_batsman_runs(name:str,number:int,runs:list):
  print(name,number,*runs,sep=",")

display_batsman_runs('Ritesh',9,[2,4,6,8])

Ritesh,9,2,4,6,8

In [ ]:
def display_course_scores(coure_scores:dict):
  for course,score in sorted(course_scores.items()):
    print(f"{course}:{score}")
course_scores={"course1":78, "course3":89,"course2":90}
display_course_scores(course_scores)

course1:78
course2:90
course3:89

In [ ]:
def display_all_batsman_runs(batsman_runs:list):
  for batsman,runs in  batsman_runs:
    print(batsman,end=",")
    print("  ",   *runs,sep=',')
batsman_runs=[("batsman1",[1,2,1,4,6,2,2,1]),("batsman2",[2,2,6,4,1]),("batsman3",[6,1,2,4,4,2])]
display_all_batsman_runs(batsman_runs)

batsman1,  ,1,2,1,4,6,2,2,1
batsman2,  ,2,2,6,4,1
batsman3,  ,6,1,2,4,4,2

In [ ]:
def display_student_marks(student_marks:list):
  attrs=['rollno','city','age','course1','course2','course3']
  for student in student_marks:
    print(*(student[attr] for attr in attrs),sep=',')

student_marks=[{'rollno': 1, 'city': 'chennai', 'age': 23, 'course1': 86, 'course2': 69, 'course3': 86},{'rollno': 2, 'city': 'mumbai', 'age': 19, 'course1': 78, 'course2': 65, 'course3': 89}]
display_studeent_marks(student_marks)

1,chennai,23,86,69,86
2,mumbai,19,78,65,89

In [ ]:
def display(student_marks:list):
  attrs=['rollno','city','age','course1','course2','course3']
  for student in student_marks:
    print(*(student[attr] for attr in attrs), sep="\n")
student_marks==[{'rollno': 1, 'city': 'chennai', 'age': 23, 'course1': 86, 'course2': 69, 'course3': 86},{'rollno': 2, 'city': 'mumbai', 'age': 19, 'course1': 78, 'course2': 65, 'course3': 89}]
display(student_marks)

1
chennai
23
86
69
86
2
mumbai
19
78
65
89

In [ ]:
def is_num_sorted(num)->bool:
  num_str=str(num)
  num_sorted="".join(sorted(list(num_str)))
  return num_str==num_sorted
def count_sorted(nums:list)->int:
  return(len(list(filter(is_num_sorted,nums))))
nums=[1,2,3,4,5]
count_sorted(nums)

5

In [ ]:
def is_num_sorted(num)->bool:
  num_str=str(num)
  num_sorted="".join(sorted(list(num_str)))
  return num_str==num_sorted
def count_sorted(nums:list)->bool:
  return sum(map(well_behaved,nums))

In [ ]:
def common_string(words:list)->str:
  min_word=min(word,key=len)
  if all(map(lambda word:min_word in word, words)):
    return min_word

In [ ]:
def is_valid_phone_number(phone_no:int)->bool:
  phoneno=str(phone_no)
  return (len(phoneno)==10 and phoneno[:5]=='98123' and all(phoneno.count(str(digit))<=5 for digit in range(0,10)))
phone_no=9812375443
is_valid_phone_number(phone_no)

True

In [ ]:
def is_valid_phone_number(phone_no:list):
  phoneno=str(phone_no)
  return (len(phoneno)==10 and phoneno[:5]=="98123" and all(phoneno.count(digit))>5 for digit in range(0,10))
def validate_phone_numbers(phoneno:list)->dict:
  return {number:"Valid" if is_valid_phone_number(number) else "Invalid" for number in phoneno}

In [ ]:
def get_election(votes:dict):
  return max(votes,key=votes.get)

In [ ]:
def missplet_words(vocab:str,sentence:str):
  vocab,words=set(vocab.split(",")),sentence.split()
  return [word for word in words if word not in vocab]

In [ ]:
def count_shocks_pairs(shock_colors:list)->int:
  shock_counts={}
  +
  for color in shock_colors:
    if color not in shock_counts:
      shock_counts[color]=0
    shock_count[colors]+=1

  return sum(count//2 for count in shock_counts.values())

In [ ]:
def is_vowely(word:str)->bool:
  return "".join(char for char in word if char in "aeiou")="aeiou"

In [ ]:
def format_name(first:str,middle:str,last_str)->str:
  first,middle,last=map(str.tittle,(first,middle,second))
  return f"{first} {middle} {last}" if middle else f"{first} {last}"

In [ ]:
def double_palindrome(n:int):
  def is_palindrome(n):
    n_str=str(n)
    return n_str==n_str[::-1]
  return list(filter(lambda x: is_palindrome(x) and is_palindrome(x**2), range(1,n+1)))
double_palindrome(11)

[1, 2, 3, 11]

In [ ]:
wins = [('S','X'), ('X','P'),('P','S')]
k_score,g_score=0,0
for k,g in zip(kakashi_moves,guy_moves):
  if (k,g) in wins:
    k_score+=1
  if (g,k) in wins:
    g_score+=1
return k_score,g_score

In [ ]:

def percentage_increased(original, new):

    change=new-original
    ratio=change/original
    p_increased=ratio*100
    return p_increased

In [ ]:
t=(1,2,3,4,5,6)
lst=list(t)
for i,j in enumerate(lst):
  if i%2==0:
    lst[i],lst[i+1]=lst[i+1],lst[i]
print( tuple(lst))

(2, 1, 4, 3, 6, 5)

In [ ]:

def in_exactly_one(l1: list, l2: list) -> set:
  set1=set(l1)
  set2=set(l2)
  return (set1|set2)-set1.intersection(set2)
l1=[1,2,3]
l2=[3,4,5]
in_exactly_one(l1,l2)

{1, 2, 4, 5}

In [ ]:
s='ritesh'
print(set(s))

{'e', 's', 'r', 'h', 'i', 't'}